# general things
.DS_Store
.claude

# js things
node_modules/
coverage/
dist/

# rust things
target/

.env
.env.development
.env.production
.env.test
.env.local
.env.development.local
.env.test.local
.env.production.local

.mcp.json

bin/
bench-data/