############# begin Atlas config section ##########
--noNimblePath
--path:"deps/benchy/src"
--path:"deps/checksums/src"
--path:"deps/fusion/src"
--path:"deps/nimcrypto"
############# end Atlas config section   ##########